body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
  color: #111;
}

h1,
ul,
p,
h2,
h3,
h4 {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
